# Compiled class files
*.class

# Log files
*.log

# Mobile tools for Java (if using)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# IDE specific
*.iml
.idea/
*.ipr
*.iws
*.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db
